<ul class="w3-navbar w3-padding">
  <li class=".dd"><a class="w3-padding w3-margin w3-red" style="cursor: pointer" [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
  <li><a class="w3-padding w3-margin w3-red" style="cursor: pointer" [routerLink]="['/register']" routerLinkActive="active">Register</a></li>
  <li><a class="w3-padding w3-margin w3-red" style="cursor: pointer" [routerLink]="['/addtodo']" routerLinkActive="active">Add Notes</a></li>
  <li><a class="w3-padding w3-margin w3-red" style="cursor: pointer" [routerLink]="['/login']" routerLinkActive="active">Login</a></li>
  <li><a href="#" routerLinkActive="active" class="w3-padding w3-margin w3-red" style="cursor: pointer">Log out</a></li>
</ul>
